<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Agile Usage Report</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{webjars/datatables.net-bs4/css/dataTables.bootstrap4.min.css}"/>

</head>
<style>
    header{
        margin-bottom:10px;
    }
    header h2{
        color: #ffffff;
        margin: 10px;
    }
    header a.btn{
        margin: 10px;
    }
</style>
<body>
<header class="navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <span><h2>Agile Usage Report</h2></span>
            </div>
            <div class="col-4">
                <span class="float-right">
                    <a class="btn btn-primary" href="getReport">Download</a>
                </span>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="data" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Login Id</th>
                    <th>Name</th>
                    <th>Last Login Date</th>
                    <th>Number of Days</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${UserFinList.empty}">
                    <td colspan="4"> No Data Available</td>
                </tr>
                <tr th:each="user : ${UserFinList}">
                    <td><span th:text="${user.LoginID}"> Login Id </span></td>
                    <td><span th:text="${user.Name}"> Name </span></td>
                    <td><span th:text="${user.Last_login_date}"> Last Login Date </span></td>
                    <td><span th:text="${user.num_of_days}"> Number of Days </span></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Login Id</th>
                    <th>Name</th>
                    <th>Last Login Date</th>
                    <th>Number of Days</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-12">
        </div>
    </div>
    <script type="text/javascript" th:src="@{webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('#data').DataTable();
    } );
    </script>
</body>
</html>